.navbar-expand-lg .navbar-nav .nav-link.custom-btn {
    margin-top: 0px;
}
#dugmeSpecijalno {
    margin-top: 10px;
}
.borderPlavi {
    border-style: solid;
    border-width: 0px 0px 50px 0px;
    border-color: var(--secondary-color);
}
.custom-block-wrap:hover {
    border-color: var(--primary-color);
}
.responsivneMargine {
    margin: auto;
}

.ispisGresaka {
    display: none;
}

.prikazGreske {
    display: block;
}

#divKomentar p {
        color: white
}
.border-danger {
    border-width: 2.7px;
}
#kontaktForma {
    background-color: var(--white-color);
    padding: 50px;
    border-radius: var(--border-radius-medium);
}
#kontaktForma .form-control {
    padding: 12px;
    background-color: var(--section-bg-color);
    color: var(--p-color);
    border: 0;
}
#dugmePosalji_id {
    background: var(--custom-btn-bg-color);
    border: 0;
    border-radius: var(--border-radius-large);
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}
#dugmePosalji_id:hover{
    background-color: var(--primary-color);
    transition: 300ms;
}
#divKomentar p {
    color: var(--p-color);
}
#rb {
    padding-bottom: 10px;
}
#rb p {
    margin-bottom: 0px;
}
#site-footer-bottom .row:first-child{
    display: flex;
    align-items: center;
}
#autor-navButton {
    padding: 10px 15px;
    font-size: 18px;
    border: 2px solid;
    border-radius: var(--border-radius-large);

}
#autor-navButton:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color:white;
}
#autor {
    background-color: var(--section-bg-color);
    padding: 60px;
}
#autor-testemonijali {
    box-shadow: 0px 0px 15px 0.1px var(--secondary-color);
}
#autor .container {
    min-height: 75vh;
}
#autor img {
    width: 40%;
    border: 20px solid;
    border-radius: 50%;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    margin: 0px auto;
}
#autor-tekst {
    padding: 20px 0px;
}
#autor-lista {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}
#autor-lista li {
    font-size: 24px;
    color: black;
}
.fadeinLeft {
    opacity: 0;
    margin-left: -300px;
    max-width: 100%;
}
.gallery {
    padding: 80px 0px;
}
.gallery img {
    max-width: 100%;
    padding: 10px;
    background-color: var(--section-bg-color);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
    border-radius: 4px;
}
.gallery img:hover {
    background-color: var(--primary-color);
    transition: 0.3s;
    transform: scale(1.02, 1.02);
}
.gallery #vidi-jos {
    border-radius: var(--border-radius-large);
    background-color: var(--custom-btn-bg-color);
    border: 0px;
    color: white;
    padding: 8px 15px;
    font-weight: 600;
    display: flex;
    margin: 20px auto;
}
#vidi-jos:hover {
    background-color: var(--primary-color);
}
@media screen and (max-width: 991px){
    #navbarNav ul li {
        display: flex;
        justify-content: center;
    }
    #dugmeSpecijalno {
        margin-top: 0;
    }
}
